<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Un repaso de geometría</title>

    <link rel="stylesheet" href="basic.css" />
    <script src="show-hide.js" type="text/javascript"></script>

    $katex
    $geogebra
  </head>

  <body>
    <h1>Un repaso de geometría</h1>

    <div id="intro">
      <p>¡Bienvenido al <em>quiz</em> de geometría!</p>

      <p>Trata de recordar los enunciados y pruebas de los teoremas
	representados en los dibujos.</p>

      <p>Haz click sobre «ver la respuesta» para ver la respuesta correcta.</p>
    </div>

    $toc

    $content

    <footer>
      <p>Soporte moral y técnico:
        <a href="mailto:cadadr@gmail.com">cadadr@gmail.com</a></p>
      <p>Código fuente:
        <a href="https://github.com/alexey-beshenov/geometria-basica">github.com/alexey-beshenov/geometria-basica</a></p>
      <p>Última modificación: 22 de octubre de 2021</p>
    </footer>
  </body>
</html>
